<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
    <main>
      <%- include('../partials/back', {categoria:producto.category}) %>
      <div class="page-product-cardinfo skin skin-card">
        <h3 class="page-product-title mobile"><%=producto.title%></h3>
        <div class="page-product-galery">
          <div class="galery-item">
            <img class="img-switch" src=<%= producto.image ||
            "/imgs/image-not-found.png" %> alt="">
          </div>
          <% (producto.gallery).forEach(img => { %>
          <div class="galery-item">
            <img
              class="img-switch"
              src="<%= img %> "
              alt="<%= producto.title %> "
            />
          </div>
          <% }) %>
        </div>
        <div class="page-product-image">
          <img id="image-product" src=<%= producto.image ||
          "/imgs/image-not-found.png" %> alt="">
        </div>

        <div class="page-product-info">
          <h3 class="page-product-title desktop"><%=producto.title%></h3>
          <div class="page-product-valor">
            <strong class="puntos"
              ><%=new Intl.NumberFormat().format(producto.price)%>
            </strong>
            <p>PUNTOS<br />SUPERCLUB</p>
          </div>
          <form action="/product/addToCart" method="get">
            <input type="text" name="id" hidden value="<%=producto._id %>" />
            <button name="agregar" class="btn-carrito skin skin-btn">
              Agregar al Carrito
            </button>
          </form>
          <div class="page-product-description">
            <p><%= producto.description %></p>
          </div>
        </div>
      </div>
      <%- include("../partials/tepuedeinteresar", {products:related}) %> <%-
      include("../partials/navcat") %>
    </main>
    <%- include('../partials/footer') %>
    <script>
      let imagenes = document.querySelectorAll(".img-switch");
      let selectImg = document.querySelector("#image-product");
      imagenes.forEach((img) => {
        img.addEventListener("click", (e) => {
          selectImg.src = e.target.src;
        });
      });
    </script>
  </body>
</html>
