<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>
  <body>
    <%- include('../partials/header-logo')%>
    <main>
      <div class="cuerpo-rojo"></div>
      <div class="div-form">
        <div class="div-adentro skin skin-card">
          <h2>¡Registrate!</h2>

          <form method="POST" action="/register" class="formulario">
            <% if (locals.errors) { errors.forEach(element => { %>
            <p><%= element.msg %></p>
            <% }) %> <% } %> <input type="email" name="emailUsuario"
            id="emailUsuario" placeholder="Tu email" value = "<%= locals.old &&
            old.emailUsuario ? old.emailUsuario : "" %>"> <input type="text"
            name="nombreUsuario" id="nombreUsuario" value = "<%= locals.old &&
            old.nombreUsuario ? old.nombreUsuario : "" %>">
            <input
              type="password"
              name="contraseñaUsuario"
              id="contraseñaUsuario"
              placeholder="Tu contraseña"
            />
            <button class="skin skin-btn">Crear Cuenta</button>
          </form>
        </div>
      </div>
      <p class="texto-abajo skin skin-a">
        ¿Ya tienes cuenta? <a class="links" href="/login">Inicia sesión</a>
      </p>
    </main>
    <%- include('../partials/footer')%>
  </body>
</html>
