<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
    <body>
        <%- include('../partials/header-logo')%>
            <main>
                <div class="cuerpo-rojo"></div>
                <div class="div-form">
                    <div class="div-adentro">
                        <h2>¡Registrate!</h2>
                        <% if (locals.errors) { errors.forEach(element => { %>
                            <p><%= element.msg %></p>
                            <% }) %> <% } %>                  
                        <form method="POST" action="/register" class="formulario">
                            <input type="email" name="emailUsuario" id="emailUsuario" placeholder="Tu email" value = "<%= locals.old && old.emailUsuario ? old.emailUsuario : "" %>">
                            <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Tu nombre de usuario" value = "<%= locals.old && old.nombreUsuario ? old.nombreUsuario : "" %>">
                            <input type="password" name="contraseñaUsuario" id="contraseñaUsuario" placeholder="Tu contraseña">
                            <button>Crear Cuenta</button>
                        </form>
                    </div>
                </div>
                <p class="texto-abajo">¿Ya tienes cuenta? <a class="links" href="/login">Inicia sesión</a></p>
            </main>
            <%- include('../partials/footer')%>
    </body>

</html>